@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="box box-default" data-widget="box-widget">
    <div class="box-header">
        <h3 class="box-title">Servers</h3>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="layoutSwitch">
            <label class="custom-control-label" for="layoutSwitch">Table Layout</label>
        </div>
        <div class="box-tools">
            <!-- This will cause the box to collapse when clicked -->
            <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
        </div>
    </div>
    
    <div class="container box-body table-container" id="container">

    </div>

    <div class="overlay">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
</div>
