.body-content {
    margin-top: 50px;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.column-layout .box-input {
    width: 100%;
    margin: 5px;
    margin-top: 20px;
}

.column-layout .btn-submit {
    width: calc(100% - 15px);
    margin: 5px;
    margin-top: 20px;
}

.server-content .row {
    margin-top: 10px;
}

.link {
    color: blue !important;
    cursor: pointer;
}

#toast-container {
    top: auto !important;
    left: 10px !important;
    bottom: 10px !important;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
